body
{
    font-size: 15px;
    background-color: Silver;
}
.login-area
{
    border: 1px solid #EEE;
    padding: 40px;
    margin: 0 auto;
    width: 250px;
    background-color: yellowgreen;
    height: 153px;
}
.username, .password
{
    margin: 20px 0 0 0;
}
.login
{
    margin: 20px 0 0 50px;
}
.registe
{
    margin: -22px 0px 0px 150px;
}
.info
{
    margin: 0px 0px 0px 30px;
}