 body
 {
            font-size: 15px;
            background-color: Silver;
        }
        .registe-area
        {
            border: 1px solid #EEE;
            padding: 40px;
            margin: 0 auto;
            width: 450px;
            background-color: yellowgreen;
        }
        .username, .password,.re-password,.sex,.email
        {
            margin: 20px 0 0 0;
        }
        .registe
        {
            margin: 20px 0 0 80px;
        }
        .info
        {
            margin: 0 0 0 60px;    
        }